<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기억력 게임</title>
</head>
<body style="display: flex;
height: 100vh;
flex-direction: column;
justify-content: center;
align-items: center;
">
    <h1 style="font-size: 32px;">🎈기억력 게임🎈</h1>
    <div id="status" style="margin: 10px; font-size: 18px; font-weight: bold;"></div>
    <div id="main" style="display: flex;
    flex-direction: row;
    gap: 20px;">
        <button onclick="start()"
        style="padding: 20px; width: 25rem; font-size: 20px;
        font-weight: bold; background: linear-gradient(to top, #fff, #FF5562);
        border-radius: 12px;
        border: 2px solid #000;
        background: linear-gradient(0deg, #FBFFAB 0%, #FFF 100%);
        ">시작하기</button>
    </div>

    <script src="./index.js"></script>
</body>
</html>