<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <img id="myImage" style="width: 20%; height: 20%; margin-left: 40%" src="../static/junguggugim.png" alt="초기 이미지">
    </div>
    <button style="color: white;background: blue; margin-left: 45%" id="click">전구 켜짐</button>
    <button style="color: white;background: green; margin-left:2%" id="ggugim">전구 꺼짐</button>
    <script src="../static/index.js"></script>
</body>
</html>