<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>서보</title>
    <style>
        #submitBtn{
            background-color: #FFB7D5;
            border: none; padding: 6px 10px;
            border-radius: 4px;

        }
        #submitBtn:hover {
            filter: brightness(0.9);
        }

    </style>
</head>
<body>
    <h1>🍥Servo Moter🍣</h1>
    <input type="text" placeholder="0~180 입력">
    <button id="submitBtn">입력</button>
    <script src="../static/index.js"></script>
</body>
</html>